{{ include '../common/header.html'}}
<div class="container">
    <div class="jumbotron">
        <div class="container">
            <h2>添加分类管理</h2>
            <p>方便简单的菜单管理页面 ...</p>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="panel panel-default">
                <div class="bs-example">
                    <form enctype="multipart/form-data" action="/admin/categorie/doAdd" method="POST"
                        class="form-horizontal">
                        <br>
                        <div class="form-group"><label class="col-md-4 control-label">类名：</label>
                            <div class="col-md-4"><input autocomplete="off" name="name" value="" type="text" required="required"
                                    class="form-control"></div>
                        </div>
                        <div class="form-group"><label class="col-md-4 control-label">备注：</label>
                            <div class="col-md-4"><input autocomplete="off" name="desc" value="" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group"><label class="col-md-4 control-label">上级：</label>
                            <div class="col-md-4">
                                <select autocomplete="off" name="parent_id">
                                    <option value="0">一级分类</option>
                                    {{each categories }}
                                    <option value="{{@$value._id}}">{{$value.name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="form-group"><label class="col-md-4 control-label">排序：</label>
                            <div class="col-md-4"><input autocomplete="off" name="sort_order" value="0" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group"><label class="col-md-4 control-label">首页显示：</label>
                            <div class="col-md-4">
                                <div class="radio">
                                    <label>
                                        <input type="radio" autocomplete="off" name="showIndex" value=true checked>是
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" autocomplete="off" name="showIndex" value=false>否
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group"><label class="col-md-4 control-label">背景文字：</label>
                            <div class="col-md-4"><input autocomplete="off" name="image_text" value="" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group"><label class="col-md-4 control-label">背景图：</label>
                            <div class="col-md-4"><input autocomplete="off" name="image" value="" type="file" accept="image/*"
                                    class="form-control"></div> <small>建议尺寸：1500x720</small>
                        </div>
                        <div class="form-group" style="text-align: center;"></div>
                        <div class="form-group" style="text-align: center;">
                            <input type="submit" name="submit" class="btn btn-primary"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{{ include '../common/footer.html'}}