{{include './common/header'}}

<header id="gtco-header" class="gtco-cover gtco-cover-md" role="banner"
        style="background-image: url(images/img_bg_1.jpg)" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-12 col-md-offset-0 text-left">
                <div class="row row-mt-15em">
                    <div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
                        <h1 class="cursive-font">All in good taste!</h1>
                    </div>
                </div>
            </div>
        </div>
</header>


<div class="gtco-section">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                <h2 class="cursive-font primary-color">Popular Dishes</h2>
                <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident.
                    Odit ab aliquam dolor eius.</p>
            </div>
        </div>
        <div class="row">
            {{ each produits}}
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="upload/{{$value.image}}" class="fh5co-card-item image-popup">
                    <figure>
                        <div class="overlay"><i class="ti-plus"></i></div>
                        <img src="upload/{{$value.image}}" alt="Image" class="img-responsive">
                    </figure>
                    <div class="fh5co-text">
                        <h2>{{$value.name}}</h2>
                        <p>{{$value.desc}}</p>
                        <p><span class="price cursive-font">{{$value.price}} EUR</span></p>
                    </div>
                </a>
            </div>
            {{/each}}
        </div>
    </div>
</div>

{{include './common/footer'}}